# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
Chase Whitener <capoeirab@cpan.org> <cwhitener@cwhitener-dev.ad.infotechfl.com>
Gisle Aas <gisle@ActiveState.com> <aas@oslonett.no>
Gisle Aas <gisle@ActiveState.com> <gisle.aas@it.uib.no>
Gisle Aas <gisle@ActiveState.com> <gisle@aas.no>
Gisle Aas <gisle@ActiveState.com> <gisle@baux-2.lan>
Gisle Aas <gisle@ActiveState.com> uid39246 <uid39246>
Mark Stosberg <MARKSTOS@cpan.org> <mark@stosberg.com>
Mark Stosberg <MARKSTOS@cpan.org> <mark@summersault.com>
Mike Schilli <mschilli@yahoo-inc.com> mschilli <github@perlmeister.com>
Slaven Rezic <slaven@rezic.de> <srezic@iconmobile.com>
Ville Skyttä <ville.skytta@iki.fi> Ville Skytta
